@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,700&family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

html, body {
  height: 100%;
  font-family: 'Nunito Sans', 'Open Sans', 'Lato', sans-serif;
}

body {
  padding-bottom: 44px;
  overflow-y: hidden;
}

#wrapper {
  height: 100%;
  padding-bottom: 44px;
}