@media print {
  .copy-code {
    display: none;
  }
}

.copy-code-pre {
  position: relative;
  border: 5px solid #333333;
  border-radius: 5px;
}

.copy-code-pre code {
  background: #111111 !important;
  color: #c4c4c4;
}

.copy-code {
  display: flex;
  flex-direction: row;
  white-space: normal;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  font-size: 0.875em;
  opacity: 0.5;
  transition: opacity linear 0.5s;
  border-radius: 0 0 0 5px;
  padding: 3px 6px 3px 6px;
  position: absolute;
  right: 0;
  top: 0;
}

.copy-code.active {
  opacity: 0.8;
}

.copy-code:hover {
  opacity: .95;
}

.copy-code a,
.copy-code a:hover {
  text-decoration: none;
}

.copy-code-language {
  margin-right: 10px;
  font-weight: 600;
  color: goldenrod;
}

.copy-code-copy-icon {
  font-size: 1.2em;
  cursor: pointer;
  padding: 0 7px;
  margin-top: 2px;
}

.fa.text-success {
  color: limegreen !important
}