[data-theme="dark"] {
  background-color: #222222 !important;
  color: #eee;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
      background: #777777; 
  }
  ::-webkit-scrollbar-thumb {
      background: #555555; 
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #666666; 
  }
  
  #editor-container {
    border-right-color: #2b2b2b !important;
  }
  
  #preview {
    background-color: #1e1e1e !important;
    color: #eee;
  }

  .dropdown-menu {
    --bs-dropdown-bg: #222222;
    --bs-dropdown-link-color: #eeeeee;
    --bs-dropdown-link-hover-bg: #2f2f2f;
    --bs-dropdown-link-hover-color: #f5f5f5;
  }
  
  .table {
    --bs-table-bg: #222222;
    --bs-table-color: #eeeeee;
    --bs-table-striped-color: #eeeeee;
  }

  .modal-content {
    --bs-modal-color: #eeeeee;
    --bs-modal-bg: #222222;
  }
  
  .bg-light {
    background-color: #1E1E1E !important;
  }
  
  .bg-white {
    background-color: #000000 !important;
  }
  
  .bg-black {
    background-color: #eeeeee !important;
  }
  
  .btn-outline-secondary {
    color: #eeeeee !important;
    border-color: #eeeeee !important;
  }
  
  .text-muted {
    color: #aeaeae !important;
  }
  
  .border-top {
    border-top-color: #2b2b2b !important;
  }

  .gutter {
    background-color: #3b3b3b !important;
  }

  .form-check-input:checked {
    background-color: #5f5f5f !important;
    border-color: #5f5f5f !important;
  }

  .swal2-popup.swal2-toast {
    background: #111111 !important;
    color: #eeeeee !important;
  }
}