#editor {
  height: 100%;

  .monaco-editor {
    .margin-view-overlays {
      .current-line-margin {
        border: 1px solid #595959 !important;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
