.swal2-title,
.swal2-html-container {
  margin: 0.25rem !important;
}

.swal2-popup {
  margin-bottom: 45px;
  margin-right: 10px;
}

.swal2-popup.swal2-toast .swal2-title {
  margin: 5px 0 0 0 !important;
  font-size: 0.75rem !important;
}

.swal2-popup.swal2-toast .swal2-html-container {
  margin: 0 !important;
  font-size: 0.75rem !important;
}

.swal2-popup.swal2-modal {
  background: #ffffff;
  color: #212529;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.swal2-popup.swal2-modal .swal2-title {
  font-size: 1rem;
  font-weight: 500;
}

.swal2-popup.swal2-modal .swal2-html-container {
  font-size: 0.9rem;
  padding: 10px;
}

.swal2-popup.swal2-modal .swal2-styled {
  border-radius: 0;
}

.swal2-popup.swal2-modal .swal2-styled.swal2-confirm {
  background: #519088;
}

.swal2-popup.swal2-modal .swal2-styled.swal2-cancel {
  background: #696969;
}

.swal2-popup.swal2-modal .swal2-styled.swal2-deny {
  background: #ed5c5c;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  border-radius: 0 !important;
}

div:where(.swal2-container) .swal2-input {
  height: 2.65em !important;
}

.unsaved-changes-popup div {
  background: #ffffff !important;
  color: #212529 !important;
  font-weight: lighter !important;
  font-size: 0.8rem !important;
  border-radius: 5px !important;
}

.unsaved-changes-popup div h2#swal2-title {
  font-size: 1.2rem;
}

.swal2-actions button.swal2-confirm.swal2-styled {
  background: #519088;
  padding: 5px 20px 5px 20px;
}

.swal2-actions button.swal2-deny.swal2-styled {
  background: #ed5c5c;
  padding: 5px 20px 5px 20px;
}

.swal2-actions button.swal2-cancel.swal2-styled {
  background: #696969;
  padding: 5px 20px 5px 20px;
}

.swal2-toast .swal2-icon {
  scale: 0.5;
}
