.swal2-title,
.swal2-html-container {
  margin: 0.25rem !important;
}

.swal2-popup {
  margin-bottom: 45px;
  margin-right: 10px;
}

.swal2-popup.swal2-toast .swal2-title {
  margin: 5px 0 0 0 !important;
  font-size: 0.75rem !important;
}

.swal2-popup.swal2-toast .swal2-html-container {
  margin: 0 !important;
  font-size: 0.75rem !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  border-radius: 0 !important;
}

.unsaved-changes-popup div {
  background: #ffffff !important;
  color: #212529 !important;
  font-weight: lighter !important;
  font-size: 0.8rem !important;
  border-radius: 5px !important;
}

.unsaved-changes-popup div h2#swal2-title {
  font-size: 1.2rem;
}

.unsaved-changes-popup div div.swal2-actions button.swal2-confirm.swal2-styled {
  background: #519088;
  padding: 5px 20px 5px 20px;
}

.unsaved-changes-popup div div.swal2-actions button.swal2-deny.swal2-styled {
  background: #853333;
  padding: 5px 20px 5px 20px;
}

.unsaved-changes-popup div div.swal2-actions button.swal2-cancel.swal2-styled {
  background: #696969;
  padding: 5px 20px 5px 20px;
}
