#preview {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 44px !important;
  background-color: #fff;

  ul li,
  ol li {
    position: relative;
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1.05rem;
  }

  p,
  a {
    font-size: 0.9rem;
  }

  pre {
    border-radius: 10px;
  }
}
