#sidebar {
  width: 250px;
  background-color: #f3f3f3;
  overflow-y: auto;
}

#file-tree {
  font-size: 0.875rem;

  li {
    white-space: nowrap;

    .file-name {
      display: flex;
      align-items: center;
      padding: 2px 4px;
      cursor: pointer;
      border-radius: 3px;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: #e1e4e8;
      }

      &.active {
        background-color: #d7d7d7;
      }

      i {
        margin-right: 4px;
      }
    }

    ul {
      padding-left: 1rem;
    }
  }
}
