@use 'sass:meta';
@import '~bootstrap/scss/bootstrap';

@import '_base.scss';
@import '_editor.scss';
@import '_preview.scss';
@import '_notify.scss';
@import '_darkmode.scss';
@import '_sidebar.scss';
@import '_tabs.scss';

@include meta.load-css('katex/dist/katex.min.css');

body[data-theme='light'] {
  @include meta.load-css('highlight.js/styles/github');
}

body[data-theme='dark'] {
  @include meta.load-css('highlight.js/styles/github-dark');
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eeeeee;
}
::-webkit-scrollbar-thumb {
  background: #bbbbbb;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

#app {
  opacity: 0;
}

#splashscreen {
  z-index: 9999;
  background: #222222;
  color: #ffffff;
  display: flex;
  h1 {
    font-size: 3.5em;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
}

.app-logo {
  width: 200px;
}

.app-logo-tiny {
  width: 25px;
}

.form-check-input:checked {
  background-color: #8694a9;
  border-color: #8694a9;
}

.btn-sm {
  font-size: 0.75rem;
}

.btn-primary {
  background: #519088;
  border-color: #519088;
  border-radius: 0;
  color: #ffffff;
}

.btn-primary:hover {
  background: #457b74;
  border-color: #457b74;
}

.btn-primary:active {
  background: #457b74 !important;
  border-color: #457b74 !important;
}

.btn-danger {
  border-radius: 0;
}

.alert p {
  margin-bottom: 0;
}

.gutter {
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.sidebar-gutter-horizontal {
  width: 2px;
  cursor: col-resize;
}
