<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Chris Rowles" />
    <meta
      name="description"
      content="MKEditor is a simple, fast, and free online markdown editor with live preview. Write, format, and export your markdown documents instantly."
    />
    <meta
      name="keywords"
      content="markdown, markdown editor, simple markdown editor, online markdown editor, markdown writing, markdown preview, markdown formatting, markdown tool"
    />
    <!-- OpenGraph meta tags -->
    <meta property="og:title" content="MKEditor - Markdown with style." />
    <meta
      name="og:description"
      content="MKEditor is a simple, fast, and free online markdown editor with live preview. Write, format, and export your markdown documents instantly."
    />
    <meta
      property="og:image"
      content="https://versyxdigital.github.io/mkeditor/assets/img/demo-dark.png"
    />
    <!-- Twitter meta tags -->
    <meta
      name="twitter:card"
      content="https://versyxdigital.github.io/mkeditor/assets/img/demo.png"
    />
    <meta name="twitter:title" content="MKEditor - Markdown with style." />
    <meta
      name="twitter:description"
      content="Write, preview, and export markdown instantly with MKEditor."
    />
    <meta
      name="twitter:image"
      content="https://versyxdigital.github.io/mkeditor/assets/img/demo-dark.png"
    />
    <!-- Page title and canonical URL -->
    <title>MKEditor</title>
    <link rel="canonical" href="https://versyxdigital.github.io/mkeditor/web" />
    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="./mkeditor.bundle.css" />
  </head>
  <body data-theme="light">
    <div
      id="splashscreen"
      class="position-absolute top-0 bottom-0 h-100 w-100 align-items-center text-center"
    >
      <div class="w-100">
        <img src="./icon.png" class="img-fluid app-logo mb-3" />
        <h1 data-i18n-text="app:app_name">mkeditor</h1>
      </div>
    </div>

    <!-- sub-menu bar -->
    <nav class="navbar navbar-expand navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item d-flex align-items-center gap-2">
          <button
            id="sidebar-toggle"
            class="btn btn-sm btn-outline-secondary border-0 ms-2"
            type="button"
            title="Toggle sidebar"
            data-i18n-title="navbar:toggle_sidebar"
          >
            <i class="fas fa-bars"></i>
          </button>
          <img src="./icon.png" class="img-fluid app-logo-tiny ms-2" />
          <span
            id="active-file"
            class="text-muted"
            data-i18n-text="app:brand_name"
            >MKEditor</span
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-muted">
          <small>
            <span data-i18n-text="navbar:character_count"
              >Character Count:</span
            >
            <span id="character-count">0</span>
          </small>
          <span class="mx-1 font-weight-lighter">|</span>
          <small>
            <span data-i18n-text="navbar:word_count">Word Count:</span>
            <span id="word-count">0</span>
          </small>
        </li>
        <li
          class="nav-item"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Configure editor settings"
          data-i18n-title="navbar:settings_tooltip"
        >
          <a
            class="text-muted hover-fade ms-3"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#app-settings"
          >
            <i class="fas fa-cogs hover-fade"></i>
          </a>
        </li>
        <li
          class="nav-item"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="View editor shortcuts"
          data-i18n-title="navbar:shortcuts_tooltip"
        >
          <a
            class="text-muted hover-fade mx-3"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#app-shortcuts"
          >
            <i class="fa fa-question-circle hover-fade"></i>
          </a>
        </li>
      </ul>
    </nav>

    <!-- main content -->
    <div id="main" class="border-top d-flex flex-column h-100">
      <ul id="editor-tabs" class="tab-bar"></ul>
      <div id="app" class="d-flex flex-row h-100">
        <!-- sidebar -->
        <div id="sidebar" class="p-3 d-flex flex-column">
          <div class="explorer-title" data-i18n-text="sidebar:explorer">
            Explorer
          </div>
          <ul id="file-tree" class="list-unstyled mb-0 flex-fill"></ul>
        </div>

        <div id="wrapper" class="d-flex flex-row flex-grow-1 mw-100">
          <!-- editor pane -->
          <div id="editor-split">
            <div id="editor" class="flex-column split-editor"></div>
          </div>

          <!-- preview pane -->
          <div id="preview-split">
            <div id="preview" class="flex-column split-preview p-3">
              <div id="preview-content" class="container-fluid"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- bottom editor toolbar -->
    <nav class="navbar navbar-light bg-light fixed-bottom border-top p-2">
      <div
        class="d-flex justify-content-start align-items-center"
        id="editor-functions"
      >
        <div class="btn-group btn-group-sm me-2">
          <button
            id="split-reset"
            class="btn btn-outline-secondary shortcut"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Reset editor/preview split"
            data-i18n-title="toolbar:reset_split"
          >
            <i class="fas fa-table-columns"></i>
          </button>
        </div>
        <div class="btn-group btn-group-sm me-2">
          <button
            class="btn btn-outline-secondary shortcut"
            data-cmd="bold"
            data-key="B"
            data-syntax="**"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ctrl + B"
            data-i18n-title="toolbar:bold_tooltip"
          >
            <i class="fa fa-bold"></i>
          </button>
          <button
            class="btn btn-outline-secondary shortcut"
            data-cmd="italic"
            data-key="I"
            data-syntax="_"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ctrl + I"
            data-i18n-title="toolbar:italic_tooltip"
          >
            <i class="fa fa-italic"></i>
          </button>
          <button
            class="btn btn-outline-secondary shortcut"
            data-cmd="strikethrough"
            data-key="G"
            data-syntax="~~"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ctrl + G"
            data-i18n-title="toolbar:strikethrough_tooltip"
          >
            <i class="fa fa-strikethrough"></i>
          </button>
        </div>
        <div class="btn-group btn-group-sm me-2">
          <button
            class="btn btn-outline-secondary shortcut"
            data-cmd="unorderedList"
            data-key="2"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ctrl + 2"
            data-i18n-title="toolbar:unordered_list_tooltip"
          >
            <i class="fa fa-list-ul"></i>
          </button>
          <button
            class="btn btn-outline-secondary shortcut"
            data-cmd="orderedList"
            data-key="3"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ctrl + 3"
            data-i18n-title="toolbar:ordered_list_tooltip"
          >
            <i class="fa fa-list-ol"></i>
          </button>
        </div>
        <div class="btn-group btn-group-sm me-2">
          <button
            class="btn btn-outline-secondary shortcut"
            data-cmd="mdLinkAdd"
            data-key="H"
            data-syntax="[]()"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ctrl + H"
            data-i18n-title="toolbar:insert_link_tooltip"
          >
            <i class="fa fa-link"></i>
          </button>
        </div>
        <div
          class="btn-group btn-group-sm dropup me-2"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Ctrl + T"
          data-i18n-title="toolbar:table_menu_tooltip"
          data-key="T"
        >
          <button
            class="btn btn-outline-secondary dropdown-toggle shortcut"
            type="button"
            id="markdown-table-menu-button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-table"></i>
          </button>
          <div
            class="dropdown-menu"
            id="markdown-tables"
            aria-labelledby="markdown-table-menu-button"
          >
            <div class="p-3">
              <div id="insert-markdown-table-form" class="dropup-content">
                <div class="mb-3">
                  <label
                    class="mb-2 small"
                    data-i18n-text="menus-tables:rows_label"
                    >Rows:</label
                  >
                  <input
                    class="form-control form-control-sm"
                    type="number"
                    id="markdown-table-rows"
                    min="1"
                    value="2"
                  />
                </div>

                <div class="mb-3">
                  <label
                    class="mb-2 small"
                    data-i18n-text="menus-tables:columns_label"
                    >Columns:</label
                  >
                  <input
                    class="form-control form-control-sm"
                    type="number"
                    id="markdown-table-cols"
                    min="1"
                    value="2"
                  />
                </div>

                <button
                  id="insert-markdown-table-btn"
                  class="btn btn-sm btn-outline-secondary"
                >
                  <span data-i18n-text="menus-tables:insert_table"
                    >Insert Table</span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="btn-group btn-group-sm dropup me-2"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Ctrl + K, &lt;_&gt;"
          data-i18n-title="toolbar:codeblock_menu_tooltip"
          data-key="K, &lt;_&gt;"
        >
          <button
            class="btn btn-outline-secondary dropdown-toggle shortcut"
            type="button"
            id="codeblock-menu-button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-code"></i>
          </button>
          <div
            class="dropdown-menu"
            id="codeblocks"
            aria-labelledby="codeblock-menu-button"
          >
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="sh"
            >
              <i class="fas fa-terminal"></i> <u>S</u>hell
            </button>
            <div class="dropdown-divider"></div>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="csharp"
            >
              <i class="fas fa-code"></i> <u>C</u>
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="javascript"
            >
              <i class="fas fa-code"></i> <u>J</u>avascript
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="typescript"
            >
              <i class="fas fa-code"></i> <u>T</u>ypescript
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="php"
            >
              <i class="fas fa-code"></i> <u>P</u>HP
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="python"
            >
              <i class="fas fa-code"></i> P<u>y</u>thon
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="rust"
            >
              <i class="fas fa-code"></i> <u>R</u>ust
            </button>
            <div class="dropdown-divider"></div>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="json"
            >
              <i class="fas fa-code"></i> JS<u>O</u>N
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="yaml"
            >
              <i class="fas fa-code"></i> YA<u>M</u>L
            </button>
            <div class="dropdown-divider"></div>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="sql"
            >
              <i class="fas fa-code"></i> S<u>Q</u>L
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="codeblock"
              data-language="xml"
            >
              <i class="fas fa-code"></i> <u>X</u>ML
            </button>
          </div>
        </div>
        <div
          class="dropup me-2"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Ctrl + L, &lt;_&gt;"
          data-i18n-title="toolbar:alert_menu_tooltip"
          data-key="L, &lt;_&gt;"
        >
          <button
            class="btn btn-sm btn-outline-secondary dropdown-toggle shortcut"
            type="button"
            id="alert-menu-button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-exclamation-circle"></i>
          </button>
          <div
            class="dropdown-menu"
            id="alertblocks"
            aria-labelledby="alert-menu-button"
          >
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="alert"
              data-type="primary"
            >
              <u>P</u>rimary
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="alert"
              data-type="secondary"
            >
              S<u>e</u>condary
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="alert"
              data-type="success"
            >
              <u>S</u>uccess
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="alert"
              data-type="danger"
            >
              <u>D</u>anger
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="alert"
              data-type="warning"
            >
              <u>W</u>arning
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="alert"
              data-type="info"
            >
              <u>I</u>nformation
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="alert"
              data-type="light"
            >
              <u>L</u>ight
            </button>
            <button
              class="dropdown-item md-editor-btn"
              data-cmd="alert"
              data-type="dark"
            >
              Da<u>r</u>k
            </button>
          </div>
        </div>
        <div class="btn-group btn-group-sm me-2">
          <button
            class="btn btn-outline-secondary"
            id="app-markdown-save"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Save markdown file"
            data-i18n-title="toolbar:save_markdown_file"
          >
            <i class="fas fa-save"></i>
            <!-- <small class="d-none d-md-inline"
              ><span
                class="d-none d-md-inline"
                data-i18n-text="toolbar:save_button"
                >Save</span
              ></small
            > -->
          </button>
        </div>
        <div class="btn-group btn-group-sm me-2">
          <button
            class="btn btn-outline-secondary d-none"
            id="app-markdown-delete"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Delete markdown contents"
            data-i18n-title="toolbar:delete_markdown_file"
          >
            <i class="fas fa-trash"></i>
            <!-- <small class="d-none d-md-inline"
              ><span
                class="d-none d-md-inline"
                data-i18n-text="toolbar:delete_button"
                >Delete</span
              ></small
            > -->
          </button>
        </div>
        <div
          class="btn-group btn-group-sm me-2"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Configure export settings"
          data-i18n-title="toolbar:configure_export_settings"
        >
          <a
            class="btn btn-outline-secondary"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#export-settings"
          >
            <i class="fas fa-sliders"></i>
          </a>
        </div>
        <div class="btn-group btn-group-sm me-2">
          <button
            class="btn btn-outline-secondary"
            id="export-to-html"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Export to HTML file"
            data-i18n-title="toolbar:export_html_tooltip"
          >
            <i class="fas fa-file-export me-1"></i>
            <small>
              <span
                class="d-none d-md-inline"
                data-i18n-text="toolbar:export_to_prefix"
                >Export to </span
              ><span data-i18n-text="toolbar:export_html_label">HTML</span>
            </small>
          </button>
        </div>
        <div class="btn-group btn-group-sm me-2">
          <button
            class="btn btn-outline-secondary"
            id="export-to-pdf"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Export to PDF file"
            data-i18n-title="toolbar:export_pdf_tooltip"
          >
            <i class="fas fa-file-pdf me-1"></i>
            <small>
              <span
                class="d-none d-md-inline"
                data-i18n-text="toolbar:export_to_prefix"
                >Export to </span
              ><span data-i18n-text="toolbar:export_pdf_label">PDF</span>
            </small>
          </button>
        </div>
      </div>
      <ul
        class="navbar-nav ms-auto d-none d-md-flex flex-row align-items-center"
      >
        <li class="nav-item">
          <div
            class="form-check form-switch me-2"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="This switch is disabled on desktop if you are using your system theme."
            data-i18n-title="navbar:theme_switch_notice"
          >
            <input
              type="checkbox"
              class="form-check-input"
              id="darkmode-setting"
            />
            <label
              class="form-check-label ms-1"
              for="darkmode-setting"
              id="darkmode-icon"
            >
              <i class="fas fa-moon"></i>
            </label>
          </div>
        </li>
        <li class="nav-item">
          <span class="text-muted" id="app-build-id"></span>
        </li>
      </ul>
    </nav>

    <!-- settings modal -->
    <div class="modal" tabindex="-1" id="app-settings">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" data-i18n-text="modals-settings:title">
              Editor settings
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body small pt-0">
            <p class="text-muted" data-i18n-text="modals-settings:intro">
              Here you can customize various editor settings according to your
              preferences, settings are automatically saved as they are updated.
            </p>
            <p class="text-muted" id="app-settings-file-info">
              <span data-i18n-text="modals-settings:settings_file_info"
                >Your settings file is located at</span
              >
              <span class="font-monospace small">~/.mkeditor/settings.json</span
              >.
            </p>
            <hr />
            <p class="text-muted">
              <strong data-i18n-text="modals-settings:formatting"
                >Formatting</strong
              >
            </p>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input setting"
                id="autoindent-setting"
              />
              <label
                class="form-check-label d-flex flex-column"
                for="autoindent-setting"
              >
                <span data-i18n-text="modals-settings:autoindent_label"
                  >Toggle automatic indentation</span
                >
                <small
                  class="text-muted"
                  data-i18n-text="modals-settings:autoindent_help"
                  >Automatically indent text on new lines.</small
                >
              </label>
            </div>
            <div class="form-check mt-3">
              <input
                type="checkbox"
                class="form-check-input setting"
                id="wordwrap-setting"
              />
              <label
                class="form-check-label d-flex flex-column"
                for="wordwrap-setting"
              >
                <span data-i18n-text="modals-settings:wordwrap_label"
                  >Toggle word-wrapping</span
                >
                <small
                  class="text-muted"
                  data-i18n-text="modals-settings:wordwrap_help"
                  >Automatically break lines to fit the width of the
                  editor.</small
                >
              </label>
            </div>
            <hr />
            <p class="text-muted">
              <strong data-i18n-text="modals-settings:editing">Editing</strong>
            </p>
            <div class="form-check mt-3">
              <input
                type="checkbox"
                class="form-check-input setting"
                id="whitespace-setting"
              />
              <label
                class="form-check-label d-flex flex-column"
                for="whitespace-setting"
              >
                <span data-i18n-text="modals-settings:whitespace_label"
                  >Render whitespace</span
                >
                <small
                  class="text-muted"
                  data-i18n-text="modals-settings:whitespace_help"
                  >Display whitespace characters.</small
                >
              </label>
            </div>
            <hr />
            <p class="text-muted">
              <strong data-i18n-text="modals-settings:miscellaneous"
                >Miscellaneous</strong
              >
            </p>
            <div class="form-check mt-3">
              <input
                type="checkbox"
                class="form-check-input setting"
                id="minimap-setting"
              />
              <label
                class="form-check-label d-flex flex-column"
                for="minimap-setting"
              >
                <span data-i18n-text="modals-settings:minimap_label"
                  >Display minimap</span
                >
                <small
                  class="text-muted"
                  data-i18n-text="modals-settings:minimap_help"
                  >Display the editor minimap.</small
                >
              </label>
            </div>
            <div class="form-check mt-3">
              <input
                type="checkbox"
                class="form-check-input setting"
                id="scrollsync-setting"
              />
              <label
                class="form-check-label d-flex flex-column"
                for="scrollsync-setting"
              >
                <span data-i18n-text="modals-settings:scrollsync_label"
                  >Use scroll sync</span
                >
                <small
                  class="text-muted"
                  data-i18n-text="modals-settings:scrollsync_help"
                  >Enable scroll sync between the editor and the preview.</small
                >
              </label>
            </div>
            <hr />
            <p class="text-muted">
              <strong data-i18n-text="modals-settings:appearance"
                >Appearance</strong
              >
            </p>
            <div class="form-check mt-3">
              <input
                type="checkbox"
                class="form-check-input setting"
                id="systemtheme-setting"
              />
              <label
                class="form-check-label d-flex flex-column"
                for="systemtheme-setting"
              >
                <span data-i18n-text="modals-settings:systemtheme_label"
                  >Use system theme</span
                >
                <small
                  class="text-muted"
                  data-i18n-text="modals-settings:systemtheme_help"
                  >Let your system theme override your stored settings.</small
                >
              </label>
            </div>
            <div class="form-group mt-3">
              <label
                for="locale-setting"
                class="form-label"
                data-i18n-text="modals-settings:language_label"
                >Language</label
              >
              <select
                id="locale-setting"
                class="form-select form-select-sm setting"
              ></select>
              <small
                class="text-muted"
                data-i18n-text="modals-settings:language_help"
                >Select the interface language.</small
              >
            </div>
            <hr />
            <div class="form-group d-flex align-items-center gap-3 mt-4 mb-3">
              <button
                id="app-settings-save"
                class="btn btn-sm btn-primary rounded-1"
              >
                <i class="fas fa-save"></i>
                <span
                  class="ms-1"
                  data-i18n-text="modals-settings:save_settings"
                  >Save Settings</span
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- export settings modal -->
    <div class="modal" tabindex="-1" id="export-settings">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" data-i18n-text="modals-export:title">
              Export settings
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body small pt-0">
            <p class="text-muted" data-i18n-text="modals-export:intro">
              Here you can configure settings for HTML and PDF exports, settings
              are automatically saved as they are updated.
            </p>
            <p
              class="text-muted"
              data-i18n-text="modals-export:settings_file_info"
            >
              Your settings file is located at ~/.mkeditor/settings.json.
            </p>
            <hr />
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="export-with-styles"
                checked="true"
              />
              <label
                class="form-check-label d-flex flex-column"
                for="export-with-styles"
              >
                <span data-i18n-text="modals-export:export_with_styles_label"
                  >Export with styles</span
                >
                <small
                  class="text-muted"
                  data-i18n-text="modals-export:export_with_styles_help"
                >
                  Enable this to export with Bootstrap, FontAwesome and KaTeX
                  styles, provided from official CDNs with secure integrity and
                  crossorigin checks.
                </small>
              </label>
            </div>
            <hr />
            <div class="form-group mt-3">
              <label
                for="export-setting-container"
                class="form-label"
                data-i18n-text="modals-export:set_container_label"
                >Set container</label
              >
              <select
                id="export-setting-container"
                class="form-select form-select-sm"
              >
                <option
                  value="container"
                  data-i18n-text="modals-export:set_container_option_container"
                >
                  container
                </option>
                <option
                  value="container-fluid"
                  data-i18n-text="modals-export:set_container_option_container_fluid"
                >
                  container-fluid
                </option>
              </select>
              <small
                class="text-muted"
                data-i18n-text="modals-export:set_container_help"
              >
                Set the container width class, fluid is larger width.
              </small>
            </div>
            <div class="form-group mt-3">
              <label
                for="export-setting-fontsize"
                class="form-label"
                data-i18n-text="modals-export:set_font_size_label"
                >Set font-size</label
              >
              <input
                type="number"
                id="export-setting-fontsize"
                class="form-control form-control-sm"
                min="6"
                value="16"
                max="72"
              />
              <small
                class="text-muted"
                data-i18n-text="modals-export:set_font_size_help"
              >
                Set the font size in px.
              </small>
            </div>
            <div class="form-group mt-3">
              <label
                for="export-setting-linespacing"
                class="form-label"
                data-i18n-text="modals-export:set_line_spacing_label"
                >Set line-spacing</label
              >
              <input
                type="range"
                id="export-setting-linespacing"
                class="form-range mb-0"
                min="1"
                max="3"
                step="0.1"
                value="1"
              />
              <small
                class="text-muted"
                data-i18n-text="modals-export:set_line_spacing_help"
              >
                Set the vertical line spacing.
              </small>
            </div>
            <hr />
            <div class="d-flex flex-wrap align-items-center gap-5 mt-3">
              <div class="form-group">
                <label
                  for="export-setting-background"
                  class="form-label"
                  data-i18n-text="modals-export:set_background_colour_label"
                  >Set background colour</label
                >
                <div class="d-flex align-items-center gap-2 mb-2">
                  <input
                    type="color"
                    id="export-setting-background"
                    class="form-control form-control-sm form-control-color"
                    value="#ffffff"
                  />
                  <span class="small text-muted" id="export-settings-color-hex"
                    >#FFFFFF</span
                  >
                </div>
                <small
                  class="text-muted"
                  data-i18n-text="modals-export:set_background_colour_help"
                >
                  Set the background colour.
                </small>
              </div>
              <div class="form-group">
                <label
                  for="export-setting-font-color"
                  class="form-label"
                  data-i18n-text="modals-export:set_font_colour_label"
                  >Set font colour</label
                >
                <div class="d-flex align-items-center gap-2 mb-2">
                  <input
                    type="color"
                    id="export-setting-font-color"
                    class="form-control form-control-sm form-control-color"
                    value="#000000"
                  />
                  <span
                    class="small text-muted"
                    id="export-settings-font-color-hex"
                    >#212529</span
                  >
                </div>
                <small
                  class="text-muted"
                  data-i18n-text="modals-export:set_font_colour_help"
                >
                  Set the font colour.
                </small>
              </div>
            </div>
            <div class="form-group d-flex align-items-center gap-3 mt-4 mb-3">
              <button
                id="export-settings-save"
                class="btn btn-sm btn-primary rounded-1"
              >
                <i class="fas fa-save"></i>
                <span class="ms-1" data-i18n-text="modals-export:save_settings"
                  >Save Settings</span
                >
              </button>
              <button
                id="export-settings-reset"
                class="btn btn-sm btn-secondary rounded-1"
              >
                <i class="fas fa-refresh"></i>
                <span
                  class="ms-1"
                  data-i18n-text="modals-export:reset_to_default"
                  >Reset to Default</span
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- about modal -->
    <div class="modal" tabindex="-1" id="app-about">
      <div class="modal-dialog">
        <div class="modal-content text-center p-3">
          <div class="text-muted modal-body small">
            <img src="./icon.png" class="img-fluid app-logo mb-3" />
            <p>
              <span data-i18n-text="modals-about:version_label">Version</span>
              <span id="app-version"></span>
            </p>
            <p>
              <span data-i18n-text="modals-about:built_with_love_by"
                >Built with love by</span
              >
              <a
                class="fw-bold text-primary text-decoration-none"
                href="https://versyxdigital.github.io/"
                target="_blank"
                >Versyx Digital</a
              >.
            </p>
            <p class="mb-1">
              <span data-i18n-text="modals-about:libraries_intro"
                >MKEditor uses the following open-source libraries:</span
              >
            </p>
            <p>
              <span data-i18n-text="modals-about:libraries_list"
                >monaco, bootstrap, fontawesome, markdown-it, highlight.js,
                split.js, sweetalert2, webpack and electron.</span
              >
            </p>
            <p class="mb-0">
              <span data-i18n-text="modals-about:view_source_prefix"
                >View the source code</span
              >
              <a
                class="fw-bold text-primary text-decoration-none"
                href="https://github.com/versyxdigital/mkeditor"
                target="_blank"
                ><span data-i18n-text="modals-about:view_source_here"
                  >here</span
                ></a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- shortcuts modal -->
    <div class="modal" tabindex="-1" id="app-shortcuts">
      <div class="modal-dialog mw-100 w-75" role="document">
        <div class="modal-content small text-muted">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" data-i18n-text="modals-shortcuts:title">
              MKEditor Shortcuts
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body px-4 py-0">
            <div class="row">
              <div class="col-6">
                <h6 data-i18n-text="modals-shortcuts:basic_editing">
                  Basic Editing
                </h6>
                <table class="table table-sm table-striped small">
                  <thead>
                    <tr>
                      <th
                        scope="col"
                        data-i18n-text="modals-shortcuts:table_header_shortcut"
                      >
                        Shortcut
                      </th>
                      <th
                        scope="col"
                        data-i18n-text="modals-shortcuts:table_header_description"
                      >
                        Description
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>F1</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.open_command_palette"
                      >
                        Open command palette
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Z</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.undo_last_edit"
                      >
                        Undo last edit
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Y</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.redo_last_edit"
                      >
                        Redo last edit
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + X</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.cut_line_empty"
                      >
                        Cut line (empty selection)
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + C</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.copy_line_empty"
                      >
                        Copy line (empty selection)
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + K, Ctrl + X</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.trim_trailing_whitespace"
                      >
                        Trim trailing whitespace from selection
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Alt + ↑ / ↓</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.move_line_up_down"
                      >
                        Move line up/down
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Shift + Alt + ↑ / ↓</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.copy_line_up_down"
                      >
                        Copy line up/down
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Shift + K</strong></td>
                      <td data-i18n-text="modals-shortcuts:items.delete_line">
                        Delete line
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Enter</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.insert_line_below"
                      >
                        Insert line below
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Shift + Enter</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.insert_line_above"
                      >
                        Insert line above
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + ] / [</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.indent_outdent_line"
                      >
                        Indent/outdent line
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Home / End</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.go_to_beginning_end_line"
                      >
                        Go to beginning/end of line
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Home</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.go_to_beginning_file"
                      >
                        Go to beginning of file
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + End</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.go_to_end_file"
                      >
                        Go to end of file
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + ↑ / ↓</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.scroll_line_up_down"
                      >
                        Scroll line up/down
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Alt + PgUp / PgDn</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.scroll_page_up_down"
                      >
                        Scroll page up/down
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 data-i18n-text="modals-shortcuts:text_formatting">
                      Text Formatting
                    </h6>
                    <table class="table table-sm table-striped small">
                      <thead>
                        <tr>
                          <th
                            scope="col"
                            data-i18n-text="modals-shortcuts:table_header_shortcut"
                          >
                            Shortcut
                          </th>
                          <th
                            scope="col"
                            data-i18n-text="modals-shortcuts:table_header_description"
                          >
                            Description
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><strong>Ctrl + B</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.make_text_bold"
                          >
                            Make text bold
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + I</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.make_text_italic"
                          >
                            Make text italic
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + G</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.strikethrough_text"
                          >
                            Strikethrough text
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + 2</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.create_unordered_list"
                          >
                            Create unordered list
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + 3</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.create_ordered_list"
                          >
                            Create ordered list
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + H</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.insert_link"
                          >
                            Insert a link (selection or empty selection)
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + T</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.insert_markdown_table"
                          >
                            Insert a markdown table (opens the configuration
                            menu)
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + K, _</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.insert_codeblock"
                          >
                            Insert a codeblock (_ = the underlined letter from
                            the menu)
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + L, _</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.insert_alert_block"
                          >
                            Insert an alert block (_ = the underlined letter
                            from the menu)
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-12 mt-3">
                    <h6 data-i18n-text="modals-shortcuts:search_and_replace">
                      Search and Replace
                    </h6>
                    <table class="table table-sm table-striped small">
                      <thead>
                        <tr>
                          <th
                            scope="col"
                            data-i18n-text="modals-shortcuts:table_header_shortcut"
                          >
                            Shortcut
                          </th>
                          <th
                            scope="col"
                            data-i18n-text="modals-shortcuts:table_header_description"
                          >
                            Description
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><strong>Ctrl + F</strong></td>
                          <td data-i18n-text="modals-shortcuts:items.find">
                            Find
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Ctrl + H</strong></td>
                          <td data-i18n-text="modals-shortcuts:items.replace">
                            Replace
                          </td>
                        </tr>
                        <tr>
                          <td><strong>F3 / Shift + F3</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.find_next_previous"
                          >
                            Find next/previous
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Alt + Enter</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.select_all_occurrences"
                          >
                            Select all occurrences of find match
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Alt + C / R / W</strong></td>
                          <td
                            data-i18n-text="modals-shortcuts:items.toggle_case_regex_whole"
                          >
                            Toggle case-sensitive / regex / whole word
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h6
                  data-i18n-text="modals-shortcuts:multi_cursor_and_selection"
                >
                  Multi-cursor and selection
                </h6>
                <table class="table table-sm table-striped small">
                  <thead>
                    <tr>
                      <th
                        scope="col"
                        data-i18n-text="modals-shortcuts:table_header_shortcut"
                      >
                        Shortcut
                      </th>
                      <th
                        scope="col"
                        data-i18n-text="modals-shortcuts:table_header_description"
                      >
                        Description
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Alt + Click</strong></td>
                      <td data-i18n-text="modals-shortcuts:items.insert_cursor">
                        Insert cursor
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Alt + ↑ / ↓</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.insert_cursor_above_below"
                      >
                        Insert cursor above/below
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Shift + Alt + I</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.insert_cursor_end_each_line"
                      >
                        Insert cursor at end of each line selected
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + L</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.select_current_line"
                      >
                        Select current line
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + F2</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.select_all_occurrences_current_word"
                      >
                        Select all occurrences of current word
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Shift + Alt + (Drag mouse)</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.column_selection"
                      >
                        Column (box) selection
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Shift + Alt + ↑ / ↓</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.column_selection"
                      >
                        Column (box) selection
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Ctrl + Shift + Alt + PgUp / PgDn</strong></td>
                      <td
                        data-i18n-text="modals-shortcuts:items.column_selection"
                      >
                        Column (box) selection
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>(Mousewheel pressed + drag cursor)</strong>
                      </td>
                      <td
                        data-i18n-text="modals-shortcuts:items.column_selection_mousewheel"
                      >
                        Column (box) selection
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./mkeditor.bundle.js"></script>
    <script>
      const colorInput = document.getElementById('export-setting-background');
      const colorHex = document.getElementById('export-settings-color-hex');

      colorInput.addEventListener('input', () => {
        colorHex.textContent = colorInput.value.toUpperCase();
      });
      const fColorInput = document.getElementById('export-setting-font-color');
      const fColorHex = document.getElementById(
        'export-settings-font-color-hex',
      );

      fColorInput.addEventListener('input', () => {
        fColorHex.textContent = fColorInput.value.toUpperCase();
      });
    </script>
  </body>
</html>
